<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Customer Journey Map: {{ (datasource "data").task }}</title>
    <style>
        .parent {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }

        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 5; }
        .div3 { grid-area: 1 / 5 / 2 / 13; }


    </style>
</head>
<body>
    <main class="container-fluid">
        <h1>Customer Journey Map: {{ (datasource "data").task }}</h1>

        <div class="grid">
            <div class="div1">
                <img src="https://picsum.photos/200" alt="" />
            </div>
            <div class="div2">
                <hgroup>
                    <h5 style="text-transform: uppercase;">{{ (datasource "data").persona_name }}</h5>
                    <p>{{ (datasource "data").scenario }}</p>
                </hgroup>
            </div>
            <div class="div3">
                <hgroup>
                    <h5>EXPECTATIONS</h5>
                    <ul>
                        {{ range (datasource "data").expectations }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </hgroup>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    {{ range (datasource "data").phases }}
                    <th style="text-transform: uppercase; font-weight: bolder;color: #446e79">{{ .name }}</th>
                    {{ end }}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>